<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
<!--                <input type="text">-->
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
            <div class="col-md-4">
<!--                <input type="text">-->
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text">
            </div>
            <div class="col-md-4">
<!--                <input type="text">-->
            </div>

            <div class="col-md-4 ">
<!--                <input type="text">-->
            </div>
        </div>

    </div>
</body>
</html>