{% extends "base.html" %}
{% block title %}注册{% endblock %}//用这个数据去替换掉模板里的内容
{% block css_import %}
<link rel="stylesheet" href="/static/app_user/css/appUserCss.css">
{% endblock %}
{% block moerbar %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="/user/register">注册</a></li>
</ul>
{% endblock %}



{% block content %}
<div class="container">
<div class="col-md-4 col-md-offset-4 frame_login">
    <div class="article">

    <div class="row gap">
                    <p></p>
        <div class="col-md-8 col-md-offset-2">
            <input type="text" class="form-control"  placeholder="用户名">
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-8 col-md-offset-2">
            <input type="password" placeholder="PassWord" class="form-control">
        </div>
    </div>
    <div class="row gap">
        <div class="col-md-2 col-md-offset-5 ">
            <input class="btn btn-default" type="submit" value="登录">
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}