<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <h1>Leeguo <small>小</small></h1>
    <h2>Leeguo <small>小</small></h2>
    <h3>Leeguo <small>小</small></h3>
    <p > hellohellohellohello    </p>
    <p class="lead"> dkjfaldjfal    </p>
    <p > dkjfaldjfal</p>
    <p> Hello World: 欢迎来到 <mark> Lee</mark></p>
    <del class=""> del标签</del>
    <b class="badge">B标签</b>
</div>

</body>
</html>