<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boot_code</title>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/js/tests/vendor/jquery.min.js">
</head>
<body>
<div class="container">
    <div class="dropdown pull-right">
        <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
            下拉菜单
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header">大写 </li>
            <li><a href="#" role="menuitem">一</a></li>
            <li><a href="#" role="menuitem">二</a></li>
            <li><a href="#" role="menuitem">三</a></li>
            <li><a href="#" role="menuitem">四</a></li>

            <li role="presentation" class="dropdown-header">小写 </li>
            <li role="presentation" class="divider">小写 </li>
            <li><a href="#" role="menuitem">1</a></li>
            <li><a href="#" role="menuitem">2</a></li>
            <li class="disabled"><a href="#" role="menuitem">3</a></li>
            <li><a href="#" role="menuitem">4</a></li>

        </ul>
    </div>

</div>
<script src="/static/js/bootstrap-3.3.7/js/tests/vendor/jquery.min.js"></script>
<script src="/static/js/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>