{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block css_import %}
<link rel="stylesheet" href="/static/app_home/css/appHomeCss.css">
{% endblock %}
{% block content %}
<div class="top_div">
    <div class="article">
        <div>
            <h4><p class="text-center lead"><strong> 念兹在兹 </strong></h4>
        </div>
        <div class= "content">
            <p>同学少年不多贱,</p>
            <p>五陵裘马自轻肥.</p>
        </div>
        <div class="bottom_div ">
            <h4 class="text-right "><p><small> - 2020/03/13</small></p></h4>
        </div>
    </div>

</div>
{% endblock %}
