{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block css_import %}
<link rel="stylesheet" href="/static/app_home/css/appHomeCss.css">
{% endblock %}
{% block content %}
<div class="top_div">
    <div class="article">
        <div>
            <h1><p class="text-center">念兹在兹</h1>
        </div>
        <div class= "content">
            <p><strong>啥都没有,等隔一段时间再来看吧, 还在写呢</strong></p>
        </div>
        <div class="bottom_div ">
            <h4 class="text-right "><p class="lead"> 很高兴你能来到这里 <small> - leeguo</small></p></h4>
        </div>
    </div>

</div>
{% endblock %}
