<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boot_code</title>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-info" >分裂式按钮式下拉菜单</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>

            </ul>
        </div>

    </div>

<script src="/static/js/bootstrap-3.3.7/js/tests/vendor/jquery.min.js"></script>
<script src="/static/js/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>