<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boot_code</title>
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7/dist/css/bootstrap.min.css">

</head>
<body>
<div class="table-responsive">
    <div class="container">

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>表格标头</th>
                <th>表格标头</th>
                <th>表格标头</th>
                <th>表格标头</th>
                <td>表格单元格</td>
                <td>表格单元格</td>

            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
            </tr>
            <tr class="info">
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>

            </tr>
            <tr class="warning">
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>

            </tr>
            <tr class="danger">
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
</body>
</html>